<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-auth.js"></script>
<script>
 var firebaseConfig = {
    apiKey: "AIzaSyAnqIZj9_LLt8uYd7u3kzmZwt_2eup_J_s",
    authDomain: "quiz-portal-6a1de.firebaseapp.com",
    databaseURL: "https://quiz-portal-6a1de.firebaseio.com",
    projectId: "quiz-portal-6a1de",
    storageBucket: "quiz-portal-6a1de.appspot.com",
    messagingSenderId: "58846213793",
    appId: "1:58846213793:web:4efad83953c7e5d19762e0"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  const auth=firebase.auth();
</script>
<script type="text/javascript">
    initApp = function() {
      firebase.auth().onAuthStateChanged(function(user) {
        if (user) {
          // User is signed in.
          var displayName = user.displayName;
          var email = user.email;
          user.getIdToken().then(function(accessToken) {
            document.getElementById('sign-in-status').textContent = 'Signed in';
            document.getElementById('sign-in').innerHTML = "<button onclick='logout(event)'>Sign out</button>";
            document.getElementById('account-details').textContent = JSON.stringify({
              displayName: displayName,
              email: email
            }, null, '  ');
          });
        } else {
          
        window.location.href = '/'
        }
      }, function(error) {
        console.log(error);
      });
    };

    window.addEventListener('load', function() {
      initApp();
    });
//     const logout=document.querySelector('#logout');

function logout(event){
    event.preventDefault();
    auth.signOut();
};

  </script>
</head>
<body>
  <div id="sign-in-status"></div>
  <div id="sign-in"></div>
  <pre id="account-details"></pre>
</body>
    
</html>