<html>
    <head>
        <title> Quizzy!!</title>
        <link rel="stylesheet" href="nav.css">
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-quizzy"><img src="icon/quizzy.png"></div>
            <div class="navbar-search">
                <div class="navbar-search-logo"><img style="width:20px" src="icon/search.png"></div>
                <input type="text1" name="search" placeholder="Search..">
                <!-- <div class="navbar-search-text"><input placeholder="Search"></div> -->
            </div>
            <div class="navbar-profile">
                <div class="navbar-profile-ring"><img style="width:30px" src="icon/notification.png"/></div>
                <div class="navbar-profile-photo"></div>
                <div class="navbar-profile-name">Rahul Aggarwal</div>
            </div>
        </div>
        </div>
        <div class="navbar-divider"></div>

<!-- sidebar -->
        <div class="sidebar">
            <div class="sidebar-option">
                <img class="sidebar-option-image" src="icon/home.png"/>
                <div class="sidebar-option-text">Home</div>
            </div>
            <div class="sidebar-option">
                <img class="sidebar-option-image" src="icon/create quiz.png"/>
                <div class="sidebar-option-text">Create Quiz</div>
            </div>
            <div class="sidebar-option">
                <img class="sidebar-option-image" src="icon/notepad.png"/>
                <div class="sidebar-option-text">Create Form</div>
            </div>
            <div class="sidebar-option">
                <img class="sidebar-option-image" src="icon/join2.png"/>
                <div class="sidebar-option-text">Join contest</div>
            </div>
            <div class="sidebar-option">
                <img class="sidebar-option-image1" src="icon/about (1).png"/>
                <div class="sidebar-option-text">About</div>
            </div>
        </div>
        